#footer{
            width: auto;
            height: 60px;
            background-color: black;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            padding-top: 30px;
            color: #A281C6;
            border: 5px solid #A281C6;
        }
body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}